<div>
    <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-md">
        <a class="navbar-brand  text-success" href="#">JsonSafe</a>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-success" href="#">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <router-link to="/default" class="nav-link text-success">Profile</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/jsonEditor" class="nav-link text-success">Json Editor</router-link>
                </li>
            </ul>
            <form v-if="isLoggedIn" class="form-inline my-2 my-lg-0 mr-sm-2">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <router-link v-if="!isLoggedIn" to="/login" class="btn btn-success my-2 my-sm-0 mr-sm-2">Login</router-link>
            <router-link v-if="!isLoggedIn" to="/signup" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2">Sign up</router-link>
            <button v-if="isLoggedIn" @click="logout" class="btn btn-danger my-2 my-sm-0 mr-sm-2">Logout</button>
        </div>
    </nav>
</div>