<div>
    <a-menu mode="horizontal">
        <a-menu-item>
            <router-link to="#">Dashboard</router-link>
        </a-menu-item>
        <a-menu-item>
            <router-link to="/default">Profile</router-link>
        </a-menu-item>
        <a-menu-item>
            <router-link to="/jsonEditor">Json Editor</router-link>
        </a-menu-item>
        <a-menu-item>
            <router-link to="/jsonList">Json List</router-link>
        </a-menu-item>
        <a-menu-item v-if="!isLoggedIn" class="float-right">
            <router-link to="/login">Login</router-link>
        </a-menu-item>
        <a-menu-item v-if="!isLoggedIn" class="float-right">
            <router-link to="/signup">Sign up</router-link>
        </a-menu-item>
        <a-menu-item v-if="isLoggedIn" @click="logout" class="float-right">
            <span>Logout</span>
        </a-menu-item>
    </a-menu>
</div>